/*
WooCommerce styling
*/
/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Menu
	## Cart Content
# General
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Menu
--------------------------------------------------------------*/
.cart-menu ul.menu {
  float: left;
  list-style: none;
  margin: 0;
  padding: 0;
  vertical-align: top;
  text-align: left;
}

.cart-menu ul.menu li.cart {
  position: relative;
  padding-left: 10px;
  padding-left: 0.625rem;
  padding-right: 10px;
  padding-right: 0.625rem;
}

.cart-menu ul.menu li.cart a.cart_dropdown_link {
  position: relative;
  padding: 0;
  text-decoration: none;
  display: block;
}

.cart-menu ul.menu li.cart i,
.cart-menu ul.menu li.cart i:before {
  font-size: 30px;
  font-size: 1.875rem;
  line-height: 50px;
  line-height: 3.125rem;
}

.cart-menu ul.menu li.cart .alert-count {
  position: absolute;
  top: 15%;
  left: 93%;
  font-size: 12px;
  font-size: 0.75rem;
  font-weight: bold;
  line-height: 1;
}

.cart-menu ul.menu li.cart ul.woo-sub-menu {
  width: 400px;
  margin: 0;
  padding: 30px;
  padding: 1.875rem;
  background-color: #fff;
  border-top: 0;
  border-bottom: 2px solid #ececec;
  float: left;
  list-style: none;
  vertical-align: top;
  text-align: left;
  position: absolute;
  top: -20px;
  top: -1.25rem;
  left: -999em;
  z-index: 99999;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.08);
}

.cart-menu ul.menu li.cart:hover a.cart_dropdown_link {
  z-index: 999999;
}

.cart-menu ul.menu li.cart:hover ul.woo-sub-menu {
  left: auto;
  right: -20px;
  right: -1.25rem;
}

.cart-menu ul.menu li.cart .widget_shopping_cart_content > *:first-child {
  margin-top: 0;
}

.cart-menu ul.menu li.cart .widget_shopping_cart_content > *:last-child {
  margin-bottom: 0;
}

.mobile-cart-navigation {
  display: none;
  padding-top: 25px;
  padding-top: 1.5625rem;
  padding-bottom: 25px;
  padding-bottom: 1.5625rem;
  padding-left: 20px;
  padding-left: 1.25rem;
  padding-right: 20px;
  padding-right: 1.25rem;
  border-bottom: 2px solid #ececec;
}

.mobile-cart-navigation .buttons {
  margin: 0;
}

.mobile-cart-navigation a.button {
  margin: 0;
  width: calc(50% - 5px);
}

.mobile-cart-navigation a.button.wc-forward {
  float: left;
}

.mobile-cart-navigation a.button.wc-forward.checkout {
  float: right;
}

@media screen and (max-width: 320px) {
  .mobile-cart-navigation a.button {
    width: 100%;
  }
  .mobile-cart-navigation a.button.wc-forward {
    float: none;
  }
  .mobile-cart-navigation a.button.wc-forward.checkout {
    margin-top: 20px;
    margin-top: 1.25rem;
    float: none;
  }
}

@media screen and (max-width: 60em) {
  #site-navigation .cart-menu {
    display: none;
  }
  #site-navigation.toggled .mobile-cart-navigation {
    display: block;
  }
}

/*--------------------------------------------------------------
## Cart Content
--------------------------------------------------------------*/
#master .woocommerce ul.cart_list li img,
#master .woocommerce ul.product_list_widget li img {
  float: left;
  margin-left: 0;
  margin-right: 10px;
  width: 64px;
}

#master .woocommerce .widget_shopping_cart .cart_list li a.remove,
#master .woocommerce.widget_shopping_cart .cart_list li a.remove {
  top: 25%;
}

#master .woocommerce a.remove:hover {
  background-color: transparent;
}

#master .woocommerce ul.cart_list li,
#master .woocommerce ul.product_list_widget li {
  padding-bottom: 20px;
  padding-bottom: 1.25rem;
}

#master .woocommerce ul.cart_list li:last-child,
#master .woocommerce ul.product_list_widget li:last-child {
  padding-bottom: 0;
}

#master .woocommerce ul.cart_list li a,
#master .woocommerce ul.product_list_widget li a {
  font-weight: normal;
  text-decoration: none;
}

#master .woocommerce .widget_shopping_cart .total,
#master .woocommerce.widget_shopping_cart .total {
  border-top: 2px solid #ececec;
}

#master .woocommerce .widget_shopping_cart .buttons a,
#master .woocommerce.widget_shopping_cart .buttons a {
  margin: 0;
  width: calc(50% - 5px);
  padding: 13px 24px;
}

#master .woocommerce .widget_shopping_cart .buttons a.wc-forward,
#master .woocommerce.widget_shopping_cart .buttons a.wc-forward {
  float: left;
}

#master .woocommerce .widget_shopping_cart .buttons a.wc-forward.checkout,
#master .woocommerce.widget_shopping_cart .buttons a.wc-forward.checkout {
  float: right;
}

#master .woocommerce.widget .widget_shopping_cart_content .widget-sub-title {
  display: none;
}

#master .woocommerce .woocommerce-mini-cart__total {
  font-weight: bold;
  font-size: 12px;
  font-size: 0.75rem;
  text-transform: uppercase;
  margin-top: 20px;
  margin-top: 1.25rem;
  margin-bottom: 20px;
  margin-bottom: 1.25rem;
}

#master .woocommerce .woocommerce-mini-cart-item .quantity {
  font-weight: bold;
  font-size: 12px;
  font-size: 0.75rem;
  text-transform: uppercase;
  display: block;
}

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
#master .woocommerce ul.products li.product .button {
  padding: 12px 22px;
  font-size: 15px;
  font-size: 0.9375rem;
}

#master .woocommerce .summary .single_add_to_cart_button {
  padding: 13px 27px;
}

#master .woocommerce .quantity.buttons_added .quantity-inner > * {
  display: inline-block;
  vertical-align: middle;
}

#master .woocommerce .summary .quantity {
  float: left;
  margin-right: 40px;
  font-size: 15px;
  color: #000;
}

#master .woocommerce .quantity input {
  width: 60px;
  height: 44px;
  font-size: 25px;
  font-weight: normal;
  padding: 0;
  text-align: center;
  border: none;
  background: none;
  color: #2d2d2e;
}

#master .product-span {
  float: left;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 15px;
  color: #000;
  line-height: 44px;
  position: absolute;
  top: 0;
  left: 0;
}

#master .woocommerce div.product div.images .woocommerce-product-gallery__wrapper {
  margin: 0;
}

#master .woocommerce-result-count {
  font-size: 15px;
  font-size: 0.9375rem;
}

#master .product_meta,
#master .woocommerce-breadcrumb {
  text-transform: uppercase;
  font-weight: bold;
  vertical-align: middle;
  font-size: 12px;
  font-size: 0.75rem;
}

#master .product_meta a:hover,
#master .woocommerce-breadcrumb a:hover {
  text-decoration: none;
}

#master .woocommerce ul.products li.product,
#master .woocommerce-page ul.products li.product {
  text-align: center;
}

#master .woocommerce ul.products li.product .star-rating,
#master .woocommerce-page ul.products li.product .star-rating {
  margin-left: auto;
  margin-right: auto;
}

#master .added_to_cart.wc-forward {
  text-transform: uppercase;
  font-weight: bold;
  vertical-align: middle;
  font-size: 12px;
  font-size: 0.75rem;
  display: block;
}

#master .woocommerce #respond input#submit.loading::after,
#master .woocommerce a.button.loading::after,
#master .woocommerce button.button.loading::after,
#master .woocommerce input.button.loading::after {
  margin-left: .53em;
  position: static;
  top: auto;
  right: auto;
  left: auto;
}

#master .woocommerce-pagination ul,
#master .woocommerce-pagination ul li {
  border-width: 0;
}

#master .woocommerce-pagination ul li:last-child {
  margin-right: 0;
}

#master .woocommerce-pagination ul li span,
#master .woocommerce-pagination ul li a {
  margin-right: 0.5em;
  margin-bottom: 0.5em;
  padding-left: 15px;
  padding-right: 15px;
  display: block;
  min-width: 40px;
}

#master .woocommerce-pagination ul li a.prev, #master .woocommerce-pagination ul li a.next {
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 6px;
  padding-right: 6px;
}

#master .woocommerce-pagination ul li a.prev i, #master .woocommerce-pagination ul li a.next i {
  font-size: 25px;
  line-height: 50px;
}

#master .woocommerce div.product p.price {
  margin-bottom: 1.5em;
}

#master .woocommerce div.product .woocommerce-product-rating {
  margin-bottom: 0;
}

@media screen and (min-width: 769px) {
  .display-sidebar.woocommerce-page ul.products li.product {
    width: 30.8%;
  }
}

/*# sourceMappingURL=woocommerce.css.map */