.site-footer {
	background-position: bottom center;
	background-repeat: repeat-x;
	min-height: 126px;
	position: relative;
}

.site-info-wrapper {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	text-align: center;
	padding-bottom: 0.5em;
	@include rem('font-size',$font__small-size);
	letter-spacing: .15em;

	.genericon {
		line-height: inherit;
	}
}

.footer-widget-area {
	overflow: hidden;
}

.footer-container {
	@include rem('padding-top',60px);
	@include rem('padding-bottom',106px);
	@include rem('margin-right',-80px);
}

.footer-column {
	width: 33.3333%;
	float: left;
	@include rem('padding-right',80px);
}

@media screen and (max-width : 1024px) {
	.footer-column {
		width: 100%;
		float: none;
		display: block;
		max-width: $size__site-sidebar;
		margin: 0 auto;
		padding: 0;
	}
	.footer-container {
		margin-right: 0;
		@include rem('padding-bottom',100px);
	}
}
