.site-footer {
	background-position: bottom center;
	background-repeat: repeat-x;
	min-height: 126px;
	position: relative;
}

.site-info-wrapper {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	text-align: center;
	padding-bottom: 0.5em;
	@include rem('font-size',$font__small-size);
	letter-spacing: .1em;

	.genericon {
		line-height: inherit;
	}
}
