.site-boundary {
	@include rem('max-width', $size__site-container);
	margin-left: auto;
	margin-right: auto;
	display: block;
}

.site-content {
	@include rem('padding-top', 40px);
	@include rem('padding-bottom', 40px);
}
