.site-boundary {
	@include rem('max-width', $size__site-container);
	margin-left: auto;
	margin-right: auto;
	display: block;
	@include rem('padding-left', 20px);
	@include rem('padding-right', 20px);
}

.site-padding {
	@include rem('padding-left', 20px);
	@include rem('padding-right', 20px);
}

.site-content {
	@include rem('padding-top', 50px);
	@include rem('padding-bottom', 50px);
}
