.site-header {
	background-size: 400px auto;
	background-position: center top;
	background-repeat: no-repeat;
}

.header-background-image-color-cyan .site-header {
	@include background-2x('img/top-right-header-bg-cyan','png');
}

.header-background-image-color-azure .site-header {
	@include background-2x('img/top-right-header-bg-azure','png');
}


.header-background-image-color-blue .site-header {
	@include background-2x('img/top-right-header-bg-blue','png');
}


.header-background-image-color-violet .site-header {
	@include background-2x('img/top-right-header-bg-violet','png');
}


.header-background-image-color-magenta .site-header {
	@include background-2x('img/top-right-header-bg-magenta','png');
}


.header-background-image-color-rose .site-header {
	@include background-2x('img/top-right-header-bg-rose','png');
}


.header-background-image-color-red .site-header {
	@include background-2x('img/top-right-header-bg-red','png');
}


.header-background-image-color-orange .site-header {
	@include background-2x('img/top-right-header-bg-orange','png');
}


.header-background-image-color-yellow .site-header {
	@include background-2x('img/top-right-header-bg-yellow','png');
}


.header-background-image-color-chartreuse-green .site-header {
	@include background-2x('img/top-right-header-bg-chartreuse-green','png');
}


.header-background-image-color-dark-green .site-header {
	@include background-2x('img/top-right-header-bg-dark-green','png');
}


.header-background-image-color-spring-green .site-header {
	@include background-2x('img/top-right-header-bg-spring-green','png');
}


.header-background-image-color-soft-pink .site-header {
	@include background-2x('img/top-right-header-bg-soft-pink','png');
}


.header-background-image-color-gray .site-header {
	@include background-2x('img/top-right-header-bg-gray','png');
}

.site-branding {
	@include rem('padding-top',40px);
	@include rem('padding-bottom',40px);

	.site-logo {
		text-align: center;
		display: block;
	}

	.site-title {
		text-align: center;
		margin: 0;
		// @include rem('margin-bottom',10px);
		@include rem('font-size',40px);

		a {
			display: block;
			text-decoration: none;
			color: $color__text-heading;
		}
	}

	.site-description {
		text-align: center;
		margin: 0;
	}
}

@media screen and (max-width: $size__menu-collapse-width) {
	#masthead.site-header {
		background-image: none;
	}
}
