#master {
	.sharedaddy {
		@include rem('margin-top',40px);
		@include rem('margin-bottom',40px);
	}
	
	div.sharedaddy h3.sd-title {
		@include rem('font-size',$font__tiny_size);
		text-transform: uppercase;
		font-weight: bold;
		color: $color__text-light;

		&:before {
			border-top: 2px solid $color__border;
		}
	}

	.sd-content ul {
		margin: 0 !important;
	}

	.sd-social-icon {
		.sd-content ul li a {
			color: $color__text;

			&:before {
				color: $color__white !important;
			}
		}
	}

	.sd-social-text,
	.sd-social-icon-text {
		.sd-content ul li a {
			color: $color__white !important;
			@include rem('font-size',$font__tiny_size);
			font-family: $font__main;
			line-height: $font__line-height-body;
			border-width: 0;
			box-shadow: none;
			font-weight: bold;
		}
	}
	#infinite-handle span {
		background: none;
		border-radius: 0;
		padding: 0;
	}

	

	#infinite-footer .blog-credits a,
	#infinite-footer .blog-info a {
		color: $color__text;
		text-decoration: none;

		&:hover {
			color: $color__text-dark;
			text-decoration: none;
		}
	}

	#infinite-footer .blog-info a {
		@include rem('font-size',$font__xsmall-size);
	}

	#infinite-footer .blog-credits a {
		@include rem('font-size',$font__tiny-size);
	}

	#infinite-footer .blog-credits {
		color: $color__text;
		text-decoration: none;
		@include rem('font-size',$font__tiny-size);

		.genericon {
			vertical-align: middle;
		}
	}
}
