h1,
h2,
h3,
h4,
h5,
h6 {
	clear: both;
	margin: 0;
	font-weight: bold;
	line-height: $font__line-height-heading;
	letter-spacing: 0.07em;
	-ms-word-wrap: break-word;
	word-wrap: break-word;
}

h1 {
	@include rem('font-size',$font__h1-size);
	font-weight: normal;
	margin: 50px 0 30px;
}

h2 {
	@include rem('font-size',$font__h2-size);
	margin: 50px 0 30px;
}

h3 {
	@include rem('font-size',$font__h3-size);
	margin: 50px 0 30px;
}

h4 {
	@include rem('font-size',$font__h4-size);
	margin: 50px 0 30px;
}

h5 {
	@include rem('font-size',$font__h5-size);
	text-transform: uppercase;
	margin: 30px 0 20px;
}

h6 {
	@include rem('font-size',$font__h6-size);
	text-transform: uppercase;
	margin: 30px 0 20px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	&,
	a:active,
	a:focus,
	a:visited,
	a {
		color: $color__text-heading;
	}
}

