h1,
h2,
h3,
h4,
h5,
h6 {
	clear: both;
	margin: 0;
	font-weight: bold;
	line-height: 1.375;
	letter-spacing: -0.02em;
}

h1 {
	font-size: 50px;
	font-weight: 300;
	margin: 67px 0 27px;
}

h2 {
	font-size: 28px;
	margin: 50px 0 30px;
}

h3 {
	font-size: 22px;
	margin: 50px 0 30px;
}

h4 {
	font-size: 18px;
	margin: 50px 0 30px;
}

h5 {
	font-size: 15px;
	text-transform: uppercase;
	margin: 30px 0 20px;
}

h6 {
	font-size: 13px;
	text-transform: uppercase;
	margin: 30px 0 20px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	&,
	a:active,
	a:focus,
	a:visited,
	a {
		color: $color__text-heading;
	}
}

