.content-widget {
	margin: 0;

	ul {
		margin: 0;
		padding: 0;
		list-style: none;

		.children {
			margin-top: 7px;
			padding-left: 20px;
		}
	}
}

.angiemakesdesign_widget_collage {
	.collage {
		position: relative;

		.slide-5 {
			position: absolute;
			width: 50%;
			height: 60%;
			top: 0;
			left: 0;

			.slide-gutter {
				padding-right: 10px;
				padding-bottom: 10px;
			}
		}

		.slide-4 {
			position: absolute;
			width: 50%;
			height: 40%;
			bottom: 0;
			left: 0;

			.slide-gutter {
				padding-right: 10px;
				padding-top: 10px;
			}
		}

		.slide-3 {
			position: absolute;
			width: 50%;
			height: 35%;
			top: 0;
			right: 0;

			.slide-gutter {
				padding-left: 10px;
				padding-bottom: 10px;
			}
		}

		.slide-2 {
			position: absolute;
			width: 25%;
			height: 65%;
			bottom: 0;
			right: 25%;

			.slide-gutter {
				padding-left: 10px;
				padding-right: 10px;
				padding-top: 10px;
			}
		}

		.slide-1 {
			position: absolute;
			width: 25%;
			height: 65%;
			bottom: 0;
			right: 0;

			.slide-gutter {
				padding-left: 10px;
				padding-top: 10px;
			}
		}

		.slide {
			overflow: hidden;
		}

		.slide-overflow,
		.slide-gutter,
		.slide-inner {
			width: 100%;
			height: 100%;
		}

		.slide-gutter {
			box-sizing: border-box;
		}
		
		.slide-overflow {
			overflow: hidden;
		}
	}
}
