.content-widget {
	margin: 0;

	ul {
		margin: 0;
		padding: 0;
		list-style: none;

		.children {
			margin-top: 7px;
			padding-left: 20px;
		}
	}
}

.content-callout-border-wrap {
	border-top: 2px solid $color__border;
	border-bottom: 2px solid $color__border;
	padding-top: 15px;
	padding-bottom: 15px;
}

.content-callout {
	.image-container {
		text-align: center;

		img {
			vertical-align: bottom;
		}
	}

	.content-callout__content {
		color: $color__text;

		.content-callout__text {
			&,
			* {
				color: inherit;
			}

			* {
				margin-top: 0;
			}
			
			*:last-child {
				margin-bottom: 0;
			}
		}

		.button-text {
			@include rem('margin-top',40px);
		}
	}
}

@media (min-width: 701px) {
	.content-callout {
		&.text-left .text-container {
			padding-right: 100px;
		}
		&.text-right .text-container {
			padding-left: 100px;
		}
	}

	.content-callout {
		.valign-top .grid__col {
			vertical-align: top;
		}

		.valign-middle .grid__col {
			vertical-align: middle;
		}

		.valign-bottom .grid__col {
			vertical-align: bottom;
		}
	}
}

@media (min-width: 701px) and (max-width: 780px) {
	.content-callout {
		&.text-left .text-container {
			padding-right: 20px;
		}
		&.text-right .text-container {
			padding-left: 20px;
		}
	}
}

@media (max-width: 700px) {
	.content-callout {
		.grid__col + .grid__col {
			margin-top: 3em;
		}
		
		.text-container {
			max-width: 450px;
			margin-left: auto;
			margin-right: auto;
		}
	}
}
