#secondary .widget {
	@include rem('margin-bottom',42px);

	&:before {
		height: 5px;
		background-color: #cccccc;
		width: 55px;
		display: block;
		margin-left: auto;
		margin-right: auto;
		@include rem('margin-bottom',40px);
		vertical-align: top;
		content: " ";
	}
}

.widget {
	margin: 0;

	/* Make sure select elements fit in widgets. */
	select {
		max-width: 100%;
	}

	.widgettitle,
	.widget-title {
		margin-top: 0;
		@include rem('margin-bottom',28px);
		@include rem('font-size',$font__main-size);
		font-weight: bold;
		text-transform: initial;
		text-align: center;
		text-transform: uppercase;
		color: $color__text-heading;
	}

	h3 {
		font-size: 18px;
		margin: 50px 0 30px;
	}

	h4 {
		font-size: 16px;
		margin: 50px 0 30px;
	}

	h5 {
		font-size: 14px;
		text-transform: uppercase;
		margin: 30px 0 20px;
	}

	h6 {
		font-size: 12px;
		text-transform: uppercase;
		margin: 30px 0 5px;
	}

	/* Make sure select elements fit in widgets. */
	select {
		max-width: 100%;
	}

	ul {
		margin: 0;
		padding: 0;
		list-style: none;

		a {
			color: $color__text;
		}
	}

	li > ul,
	li > ol {
		margin-bottom: 0;
		margin-left: 1.5em;
	}

	form {
		p {
			margin-top: 0;
			margin-bottom: 0.7em;
		}

		p:last-child {
			margin-bottom: 0;
		}
	}
}

#tertiary .widget {
	@include rem('margin-bottom',80px);
}

// Footer Column 2
.footer-column-2 {
	.widget_archive,
	.widget_categories,
	.widget_pages,
	.widget_meta,
	.widget_nav_menu {
		ul {
			text-align: center;

			li > ul,
			li > ol {
				margin-left: 0;
			}
		}
	}


	.widget_tag_cloud {
		.tagcloud {
			text-align: center;
		}
	}

	.widget.angie-makes-design-jetpack-social-menu.no-title:first-child {
		@include rem('margin-top',65px);
	}
}

.footer-column {
	.widget,
	.widgettitle,
	.widget-title {
		text-transform: uppercase;
		color: $color__text-heading;
	}
	textarea,
	input,
	.widget {
		@include rem('font-size',$font__main-size);
		letter-spacing: 0.125em;
	}
}

// RSS Widget
.widget_rss {
	.rsswidget {
		font-weight: bold;
		display: block;
	}
	.rss-date {
		@include rem('font-size',$font__tiny-size);
		text-transform: uppercase;
		color: $color__text-light;
	}

	cite {
		margin-top: 0.5em;
		text-align: right;
		display: block;

		&:before {
			content: "\02014";
			margin-right: 10px;
		}
	}

	li {
		margin-bottom: 1.5em;
	}

	li:last-child {
		margin-bottom: 0;
	}

	@include rem('font-size',$font__medium-size);
}

// RSS Widget
#master .angie-makes-design-image-banner {
	.image-banner-text-position-middle {
		a {
			&:hover {
				.widget-title {
					color: $color__text-heading;
				}
			}
		}
	}
}

.angie-makes-design-image-banner {
	.image-banner-wrapper {
		position: relative;

		a {
			display: block;
		}
	}

	.image-banner-text-position-below .widget-title {
		padding-top: 20px;
	}

	.image-banner-text-position-above .widget-title {
	}

	.image-banner-text-position-middle {
		.widget-title {
			width: 100%;
			margin: 0;
			position: absolute;
			top: 50%;
			@include crossBrowser('transform',translateY(-50%));

			span {
				padding: .9em 1.2em;
				background-color: $color__white;
				margin-left: auto;
				margin-right: auto;
			}
		}
	}
}
