@font-face {
    font-family: 'lovefernregular';
    src: url('lovefern-webfont.woff2') format('woff2'),
         url('lovefern-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
