$color__background-body: #ffffff;
$color__background-screen: #f1f1f1;
$color__menu-border: #bab8b9;
$color__border: #ececec;
$color__form-border: #ececec;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-dark: #555555;
$color__text: #6d686c;
$color__text-light: #959595;
$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__text-heading: #3a3839;
$color__text-dark: #333333;
$color__black: #000000;
$color__darkest-gray: #333333;
$color__dark-gray: #666666;
$color__gray: #cccccc;
$color__light-gray: #ececec;
$color__lightest-gray: #f7f7f7;
$color__white: #ffffff;

$color__green: green;
$color__red: red;
$color__black: black;

$color__border-abbr: #666;
