$font__main: 'Lato', sans-serif;

$font__main-size: 16px;
$font__small-size: 14px;
$font__menu-dropdown-size: 15px;
$font__mobile-menu-size: 18px;
$font__line-height-mobile-menu: 28px;
$font__social-icon-size: 18px;
$genericon__mobile-menu-size: 24px;
$font__top-header-size: 12px;

$font__code: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__pre: "Courier 10 Pitch", Courier, monospace;
$font__line-height-body: 1.5;
$font__line-height-top-menu: 36px;
$font__line-height-pre: 1.6;

$font__menu-icon-size: 30px;
$font__line-height-menu-icon: ($font__main-size * $font__line-height-body) + (16px * 1.4);
