a {
	outline: none;
	text-decoration: none;

	&:focus {
		outline: none;
	}
	&:hover,
	&:active {
		outline: none;
	}
}

.widget p >,
.entry-content {
	a {
		text-decoration: underline;
		/* border-bottom: 2px solid; */
		/* padding-bottom: 1px; */

		&:hover {
			text-decoration: none;
			/* border-bottom-color: transparent; */
		}
	}
}
