a {
	outline: none;
	text-decoration: none;

	&:focus {
		outline: none;
	}
	&:hover,
	&:active {
		outline: none;
	}
}

.widget p >,
.entry-content {
	a {
		text-decoration: underline;

		&:hover {
			text-decoration: none;
		}
	}
}
