a {
	outline: none;
	text-decoration: none;

	&:not(.wp-block-button__link),
	&:not(.wp-block-button__link):focus,
	&:not(.wp-block-button__link):active,
	&:not(.wp-block-button__link):visited {
		color: $color__text;
	}

	&:focus {
		outline: none;
	}
	&:hover,
	&:active {
		outline: none;
	}
}

.content-widget p >,
.widget p >,
.entry-summary,
.entry-content {
	a {
		text-decoration: underline;

		&:hover {
			text-decoration: none;
		}
	}
}
