.main-navigation {
	clear: both;
	display: block;
	float: left;
	width: 100%;
	border-bottom: 2px solid $color__background-hr;
	text-align: center;
}
	
.in-menu-bar {
	display: inline-block;
	vertical-align: top;
}

.main-menu {
	ul {
		float: left;
		list-style: none;
		margin: 0;
		padding: 0;
		vertical-align: top;
		text-align: left;

		ul {
			border-top: 2px solid $color__background-hr;
			float: left;
			position: absolute;
			top: 100%;
			left: -999em;
			z-index: 99999;
			box-shadow: 0 1px 10px rgba(0, 0, 0, 0.08);

			ul {
				border-top-width: 0;
				left: -999em;
				top: 0;
			}

			li {
				background-color: $color__background-body;
				position: static;
				float: none;

				&:hover > ul {
					left: 100%;
				}

				&:hover > a {
					background-color: $color__light-gray;
				}
			}

			a {
				border-bottom: 2px solid $color__light-gray;
				padding-top: 1em;
				padding-bottom: 1em;
				white-space: nowrap;
				@include rem('font-size',$font__menu-dropdown-size);
				text-transform: none;
				@include rem('min-width',200px);

			}
		}

		li {
			float: left;
			position: relative;
			display: block;

			&:hover > ul {
				left: 0;
			}
		}

		a {
			display: block;
			text-decoration: none;
			text-transform: uppercase;
			padding: 0.7em 1.2em;
			@include rem('font-size',$font__main-size);
			width: auto;
			height: auto;
			line-height: $font__line-height-body;
		}

		.current_page_item > a,
		.current-menu-item > a,
		.current_page_ancestor > a,
		.current-menu-ancestor > a {
			background-color: $color__light-gray;
		}
	}
}

.mobile-cart-navigation,
.top-mobile-header {
	display: none;
}
	
.cart-menu {
	@include rem('padding-left',10px);

	ul.menu {
		float: left;
		list-style: none;
		margin: 0;
		padding: 0;
		vertical-align: top;
		text-align: left;

		li.cart {
			position: relative;

			a {
				padding: 0;
				position: relative;
				text-decoration: none;
				display: block;
			}

			i,
			i:before {
				@include rem('font-size',$font__menu-icon-size);
				@include rem('line-height',$font__line-height-menu-icon);
			}

			.alert-count {
				position: absolute;
				top: 5px;
				left: 100%;
				@include rem('font-size',($font__main-size - 4));
				font-weight: bold;
				line-height: 1;
			}
			
			ul.woo-sub-menu {
				width: 400px;
				@include rem('padding',30px);
				background-color: $color__background-body;
				border-top: 2px solid $color__background-hr;
				float: left;
				position: absolute;
				top: 100%;
				left: -999em;
				z-index: 99999;
				box-shadow: 0 1px 10px rgba(0, 0, 0, 0.08);
			}
			
			&:hover {
				ul.woo-sub-menu {
					left: auto;
					@include rem('right',-20px);
				}

			}

			.widget_shopping_cart_content {
				> *:first-child {
					margin-top: 0;
				}

				> *:last-child {
					margin-bottom: 0;
				}
			}
		}
	}
}

.menu-toggle {
	display: none;
	@include rem('font-size',$font__mobile-menu-size);
	@include rem('line-height',$genericon__mobile-menu-size);
	text-transform: uppercase;
	padding: 1em 1.2em;
	background: none;
	font-weight: bold;
	width: 100%;

	.menu-label {
		@include rem('padding-right',10px);

		&.menu-label-empty {
			padding-right: 0;
		}
	}

	i {
		&:before {
			content: "\f419";
			@include rem('font-size',$genericon__mobile-menu-size);
			color: $color__primary;
		}
	}
}

/* Small menu. */
@media screen and (max-width: $size__menu-collapse-width) {
	#site-navigation {
		.site-boundary {
			padding-left: 0;
			padding-right: 0;
		}

		.top-mobile-header,
		.main-menu {
			display: none;
		}

		.top-mobile-header {
			#top-left-menu,
			#top-right-menu {
				a {
					text-transform: uppercase;
					@include rem('font-size',($font__mobile-menu-size - 4));
					font-weight: bold;
				}
			}
		}

		ul {
			border-width: 0;
			float: none;
			list-style: none;
			margin: 0;
			padding: 0;
			vertical-align: top;
			text-align: left;

			ul {
				position: static;
				left: auto;
				float: none;
				padding-top: 0;
				box-shadow: none;
				border-top-width: 0;

				a {
					min-width: 0;
					@include rem('padding-left',40px);
				}

				ul {
					a {
						@include rem('padding-left',60px);
					}

					ul {
						a {
							@include rem('padding-left',80px);
						}
					}
				}
			}

			li {
				float: none;
				display: block;

				a,
				&:hover > a,
				&.focus > a {
					background-color: $color__background-body;
				}

				&.current_page_item > a,
				&.current-menu-item > a {
					background-color: $color__light-gray;
				}

				&:last-child > a {
					border-bottom: 2px solid $color__light-gray;
				}

				ul {
					display: none;
				}

				&.focus {
					> a {
						font-weight: bold;
					}

					> ul {
						display: block;
					}

					&.page_item_has_children > a,
					&.menu-item-has-children > a {
						> .genericon {
							&:before {
								content: "\f50e";
							}
						}
					}
				}

				&.page_item_has_children > a,
				&.menu-item-has-children > a {
					> .genericon {
						display: inline-block;
						position: absolute;
						top: 0;
						right: 0;
						@include rem('padding-left',20px);
						@include rem('padding-right',20px);
						@include rem('padding-top',20px);
						@include rem('padding-bottom',20px);
						text-align: right;
						line-height: $font__line-height-mobile-menu;
						@include rem('font-size',$font__mobile-menu-size);

						&:before {
							content: "\f510";
						}
					}
				}
			}
			
			a {
				position: relative;
				@include rem('font-size',$font__mobile-menu-size);
				border-bottom: 2px solid $color__light-gray;
				@include rem('padding-left',20px);
				@include rem('padding-right',20px);
				@include rem('padding-top',20px);
				@include rem('padding-bottom',20px);
				line-height: $font__line-height-mobile-menu;
				display: block;
				text-decoration: none;
				width: auto;
				height: auto;

				&:before {
					line-height: $font__line-height-mobile-menu;
				}
			}

			.current_page_ancestor > a,
			.current-menu-ancestor > a {
				background-color: $color__background-body;
			}
		}

		.cart-menu {
			display: none;
		}
	}

	.menu-toggle {
		display: block;
	}

	#site-navigation.toggled {
		.top-mobile-header,
		.main-menu {
			display: block;
		}
	}

	#site-navigation.toggled {
		border-bottom-width: 0;

		.menu-toggle {
			border-bottom: 2px solid $color__background-hr;

			i:before {
				content: "\f406";
			}
		}

		.mobile-cart-navigation {
			display: block;
		}
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}
