.main-navigation {
	clear: both;
	display: block;
	width: 100%;
	text-align: center;
}

.site-menu {
	border-bottom: $border__width solid $color__menu-border;
}
	
.in-menu-bar {
	display: inline-block;
	vertical-align: top;
}

// Split Menu
.split-menu {
	.split-menu-part {
		display: inline-block;
	}

	.split-menu-part-center {
		vertical-align: middle;

		img {
			vertical-align: middle;
		}
	}
}

.main-navigation .split-menu .split-menu-part-center {
	display: none;
}

// Single Menu Bar
.main-menu {
	ul.menu > li > ul.sub-menu {
		padding-top: 0;

		> li:first-child > ul.sub-menu {
			padding-top: 0;
			top: 0;

			> li:first-child > ul.sub-menu {
				padding-top: 0;
				top: 0;

				> li:first-child > ul.sub-menu {
					padding-top: 0;
					top: 0;
				}
			}
		}
	}

	ul {
		float: left;
		list-style: none;
		margin: 0;
		padding: 0;
		vertical-align: top;

		ul {
			// border-top: $border__width solid $color__menu-border;
			float: left;
			position: absolute;
			top: 100%;
			left: -999em;
			z-index: 99999;
			// box-shadow: 0 1px 10px rgba(0, 0, 0, 0.07);
			text-align: left;
			@include rem('padding-top', round( $dropdown__padding - ( $font__line-height-heading * $dropdown__item-spacing ) ) );
			@include rem('padding-bottom', round( $dropdown__padding - ( $font__line-height-heading * $dropdown__item-spacing ) ) );
			@include background-opacity( $color__background-body, 0.95 );

			ul {
				left: -999em;
				@include rem('top', round( -1 * ( $dropdown__padding - ( $font__line-height-heading * $dropdown__item-spacing ) ) ) );
				// margin-top: -$border__width;
				border-top-color: $color__border;
			}

			li {
				float: left; /* fixed issues with spacing with <a> padding gets too low */
				width: 100%;

				&:hover > ul {
					left: 100%;
				}

				&:hover > a {
					// background-color: $color__border;
				}
			}

			a {
				// border-bottom: $border__width solid $color__border;
				@include rem('padding-top',$dropdown__item-spacing);
				@include rem('padding-bottom',$dropdown__item-spacing);
				@include rem('padding-left',$dropdown__padding);
				@include rem('padding-right',$dropdown__padding);
				@include rem('font-size',$font__dropdown-size);
				line-height: $font__line-height-heading;
				text-transform: none;
				font-weight: normal;
				// @include rem('min-width',200px);
				white-space: nowrap;

				&,
				&:focus,
				&:active,
				&:visited {
					// color: $color__text-light;
				}

				&:hover {
					// color: $color__text;
				}
			}
		}

		li {
			position: relative;
			display: inline-block;

			&:hover > ul {
				@include rem( 'left', $dropdown__padding );
			}
		}

		&#primary-menu-right {
			li {
				&:hover > ul {
					left: auto;
					@include rem( 'right', -( round( $dropdown__padding / 2 ) ) );
				}

				li {
					&:hover > ul {
						left: auto;
						right: 100%;
					}
				}
			}
		}

		a {
			display: block;
			text-decoration: none;
			text-transform: uppercase;
			@include rem('padding-top',20px);
			@include rem('padding-bottom',20px);
			@include rem('padding-left',30px);
			@include rem('padding-right',30px);
			@include rem('font-size',$font__menu-size);
			width: auto;
			height: auto;
			line-height: $font__line-height-menu-bar;
			letter-spacing: 0.07em;
		}
		
		.current_page_item > a,
		.current-menu-item > a {
			font-weight: bold;
		}
	}

	.nav-menu > li > ul > li:first-child > ul,
	.nav-menu > li > ul > li:first-child > ul > li:first-child > ul,
	.nav-menu > li > ul > li:first-child > ul > li:first-child > ul > li:first-child > ul {
		border-top-color: $color__menu-border;
	}

	a {
		&,
		&:focus,
		&:active,
		&:visited {
			color: $color__text;
		}

		&:hover {
			color: $color__text-dark;
		}
	}
}

@media screen and (min-width: ($size__menu-collapse-width + 1 )) {
	.show-menu-arrows .main-menu {
		ul {
			ul {
				li {
					&.page_item_has_children > a,
					&.menu-item-has-children > a {
						position: relative;
						padding-right: ( $dropdown__padding * 4 );

						&:after {
							position: absolute;
							top: 51%;
							@include rem( 'right', $dropdown__padding );
							margin: 0;
							@include crossBrowser('transform',translateY(-50%) rotate(270deg));
							@include rem('font-size',( $font__menu-size - 3 ) );
						}
					}
				}
			}
			li {
				&.page_item_has_children > a,
				&.menu-item-has-children > a {
					padding-right: 2em;
					position: relative;

					&:after {
						font-family:"Genericons-Neue";
						
						display:inline-block;
						vertical-align:middle;
						line-height:inherit;
						font-weight:normal;
						font-style:normal;
						speak:none;
						text-decoration:inherit;
						text-transform:none;
						text-rendering:auto;
						-webkit-font-smoothing:antialiased;
						-moz-osx-font-smoothing:grayscale;

						@include rem('font-size',( $font__menu-size - 3 ) );

						margin-left: 10px;

						position: absolute;
						top: 50%;
						@include crossBrowser('transform',translateY(-50%));
						display: inline-block;
						line-height: 1;
						content: "\f431";
					}
				}
			}

			&#primary-menu-right {
				ul {
					li {
						&.page_item_has_children > a,
						&.menu-item-has-children > a {
							&:after {
								@include crossBrowser('transform',translateY(-50%) rotate(90deg));
							}
						}
					}
				}
			}
		}
	}
}
