.posts-navigation,
.post-navigation {
	.site-main & {
		margin: 0;
		@include rem('margin-top',70px);
		@include rem('padding-bottom',70px);
		border-bottom: $border__width solid $color__border;
		overflow: hidden;
	}
}

.post-navigation {
	.meta-nav {
		color: $color__text;
	}
}

.comment-navigation {
	.site-main & {
		margin: 0;
		@include rem('margin-top',70px);
		@include rem('margin-bottom',70px);
		overflow: hidden;
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {
	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}

@media (max-width: 699px) {
	#master {
		.comment-navigation,
		.posts-navigation,
		.post-navigation {
			.nav-next {
				margin-top: 20px;
			}

			.nav-next,
			.nav-previous {
				width: 100%;
				float: none;
				display: block;
				padding-left: 0;
				padding-right: 0;
				text-align: left;

				&:after {
					@include clearfix;
				}
			}
		}
	}
}
.post-navigation {
	span {
		display: block;
		overflow: hidden;

		&.meta-nav {
			@include rem('font-size',$font__tiny-size);
			text-transform: uppercase;
			font-weight: bold;
			letter-spacing: 0.07em;
		}

		&.post-title {
			@include rem('font-size',$font__medium-size);
			color: $color__text-light;
		}
	}

	img {
		width: 120px;
		float: left;
		margin-top: 0.2em;
	}

	.nav-next,
	.nav-previous {
		padding-right: 10px;

		img {
			padding-right: 20px;
		}
	}

	@media (min-width: 700px) {
		.nav-next {
			padding-left: 10px;
			padding-right: 0;

			span {
			}

			img {
				float: right;
				padding-left: 20px;
				padding-right: 0;
			}
		}
	}
}
