#master {
	.woocommerce ul.products li.product .button {
		padding: 12px 22px;
		@include rem('font-size',$font__small-size);
	}
	.woocommerce .summary .single_add_to_cart_button {
		padding: 13px 27px;
	}
	.woocommerce .quantity.buttons_added .quantity-inner > * {
		display: inline-block;
		vertical-align: middle;
	}
	.woocommerce .summary .quantity {
		float: left;
		margin-right: 40px;
		font-size: 15px;
		color: #000;
	}
	.woocommerce .quantity input {
		width: 60px;
		height: 44px;
		font-size: 25px;
		font-weight: normal;
		padding: 0;
		text-align: center;
		border: none;
		background: none;
		color: #2d2d2e;
	}
	.product-span {
		float: left;
		text-transform: uppercase;
		font-weight: 700;
		font-size: 15px;
		color: #000;
		line-height: 44px;
		position: absolute;
		top: 0;
		left: 0;
	}
	.woocommerce div.product div.images .woocommerce-product-gallery__wrapper {
		margin: 0;
	}
	.woocommerce-result-count {
		@include rem('font-size',$font__small_size);
	}

	.product_meta,
	.woocommerce-breadcrumb {
		text-transform: uppercase;
		font-weight: bold;
		vertical-align: middle;
		@include rem('font-size',$font__tiny_size);

		a {
			&:hover {
				text-decoration: none;
			}
		}
	}
	.woocommerce ul.products li.product,
	.woocommerce-page ul.products li.product {
		text-align: center;
		
		.star-rating {
			margin-left: auto;
			margin-right: auto;
		}
	}
	.added_to_cart.wc-forward {
		text-transform: uppercase;
		font-weight: bold;
		vertical-align: middle;
		@include rem('font-size',$font__tiny_size);
		display: block;
	}
	.woocommerce #respond input#submit.loading::after,
	.woocommerce a.button.loading::after,
	.woocommerce button.button.loading::after,
	.woocommerce input.button.loading::after {
		margin-left: .53em;
		position: static;
		top: auto;
		right: auto;
		left: auto;
	}
	.woocommerce-pagination ul,
	.woocommerce-pagination ul li {
		border-width: 0;
	}
	.woocommerce-pagination ul li {
		&:last-child {
			margin-right: 0;
		}
	}
	.woocommerce-pagination ul li span,
	.woocommerce-pagination ul li a {
		margin-right: 0.5em;
		margin-bottom: 0.5em;
		padding-left: 15px;
		padding-right: 15px;
		display: block;
		min-width: 40px;
	}
	.woocommerce-pagination ul li a {
		&.prev,
		&.next {

			padding-top: 0;
			padding-bottom: 0;
			padding-left: 6px;
			padding-right: 6px;

			i {
				font-size: 25px;
				line-height: $font__line-height-pagination-icon;
			}
		}
	}
		
}
@media screen and (min-width: 769px) {
	.display-sidebar.woocommerce-page ul.products li.product {
		width: 30.8%;
	}
}
