.single .entry-header {
	@include rem('margin-bottom',40px);
}

.search .site-main article,
.archive .hentry,
.blog .hentry {
	.entry-header {
		@include rem('margin-bottom',40px);
	}

	> *:last-child {
		margin-bottom: 0;
	}
}

// Entry Title & Page Title
h1.h1-title,
.page-header h1,
.hentry h1 {
	text-align: center;
	margin-top: 0;
	@include rem('margin-bottom',80px);
	color: $color__text-title;
}

// Entry Title
.search .site-main article,
.archive .hentry,
.grid .hentry,
.blog .hentry {
	.entry-title {
		margin-top: 0;
		margin-bottom: 15px;
		// @include rem('font-size',$font__h1-size);
		font-weight: normal;
		text-align: center;
		text-transform: none;

		&,
		a {
			color: $color__text-heading;
		}
	}
}

.single .post.hentry .entry-title {
	margin-top: 0;
	margin-bottom: 0;
}

.posts-list .hentry .entry-title {
	font-weight: bold;
}

.posts-list .hentry.sticky .entry-title {
	margin-top: 25px;
}

.single-post .entry-thumbnail .entry-title,
.page .entry-thumbnail .entry-title {
	margin-top: 0;
	margin-bottom: 0;
}
