#master body:not(.woocommerce) .site-main {
	> *:last-child {
		border-bottom-width: 0; // need to override bottom border for empty product pages in woocommerce.
	}
}

.page.has-post-thumbnail {
	.page-image-header {
		margin: 0 auto;
	}
	.page-image-header-background {
		margin: 0;
		height: 250px;
		width: 100%;
		background-size: cover;
		background-position: center center;
		background-repeat: no-repeat;
	}
}

@media (min-width: 800px) {
	.page.has-post-thumbnail {
		&.display-sidebar,
		&.display-fullwidth {
			.site-content {
				.site-boundary {
					background-color: $color__background-body;
				}
			}
		}

		&.no-sidebar {
			.content-area {
				@include rem('max-width',($size__site-container) );
				margin-left: auto;
				margin-right: auto;
			}
		}

		.page-image-header {
			position: relative;
		}

		.page-image-header-background {
			margin: 0;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			height: 400px;
		}

		.site-content {
			.content-area {
				background-color: $color__background-body;

			}
		}
	}
}
