.sticky {
	display: block;
}

.search .site-main article,
.archive .hentry,
.blog .hentry,
.single .hentry {
	@include rem('padding-bottom',70px);
	@include rem('margin-bottom',70px);
	border-bottom: 2px solid $color__border;
}

.hentry {
	margin: 0;
	@include rem('margin-bottom',70px);
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 0;
}

.page-links {
	clear: both;
	margin: 0;
	@include rem('margin-bottom',70px);
}

// Content divider
.content-divider {
	text-align: center;
	@include rem('padding-top',70px);
	@include rem('height',75px);

	.line {
		height: 5px;
		background-color: #cccccc;
		width: 55px;
		display: inline-block;
		vertical-align: top;
	}
}

// Entry header
.single .entry-header {
	@include rem('margin-bottom',80px);
}

.search .site-main article,
.archive .hentry,
.blog .hentry {
	.entry-header {
		@include rem('margin-bottom',50px);
	}
}

// Entry Title & Page Title
.page-header h1,
.hentry h1 {
	text-align: center;
	margin-top: 0;
	@include rem('margin-bottom',80px);
	color: $color__text-title;
}


// Entry Title
.search .site-main article,
.archive .hentry,
.blog .hentry {
	.entry-title {
		margin-top: 0;
		margin-bottom: 25px;
		@include rem('font-size',35px);
		font-weight: normal;
		line-height: 1.25;
		text-align: center;

		&,
		a {
			color: $color__text-heading;
		}
	}
}

.single .post.hentry .entry-title {
	margin-top: 0;
	margin-bottom: 0;
}

.posts-list .hentry .entry-title {
	font-weight: bold;
}

.posts-list .hentry.sticky .entry-title {
	margin-top: 25px;
}

.single-post .entry-thumbnail .entry-title,
.page .entry-thumbnail .entry-title {
	margin-top: 0;
	margin-bottom: 0;
}

// Page header
.search .page-header,
.archive .page-header {
	text-align: center;
	@include rem('padding-top',50px);
	@include rem('padding-bottom',50px);
	border-bottom: 2px solid $color__border;
	background-color: $color__lightest-gray;

	.page-title {
		margin: 0;
		text-transform: uppercase;
		@include rem('font-size',40px);

		.archive-type {
			font-style: italic;
			@include rem('font-size',$font__main-size);
			color: $color__gray;
			display: block;
			font-weight: bold;
		}
	}

	.archive-description {
		@include rem('font-size',$font__small-size);
		color: $color__gray;

		> *:first-child {
			margin-top: 0;
		}

		> *:last-child {
			margin-bottom: 0;
		}
	}
}

// Entry cat header
.entry-cat-meta {
	text-align: center;
	@include rem('font-size',$font__tiny_size - 4);
	text-transform: uppercase;
	font-weight: bold;
	@include rem('margin-bottom',23px);
	vertical-align: middle;

	span > a {
		@include rem('font-size',$font__xsmall_size);
		vertical-align: middle;
	}

	.cat-bull-delim {
		padding-left: .5em;
		padding-right: .5em;
		color: $color__gray;
	}
	
	ul {
		@include rem('font-size',$font__tiny_size);
		list-style: none;
		margin: 0;
		padding: 0;
		
		li {
			display: inline-block;
			@include rem('padding-right',5px);
			@include rem('margin-bottom',7px);

			&:last-child {
				padding-right: 0;
			}
			
			a {
				display: block;
			}
		}

		a {
			padding: 4px 14px;
			border-radius: 3px;
			color: $color__white;
		}
	}
}

// Entry meta
.entry-meta {
	text-align: center;
	@include rem('font-size',$font__xsmall_size);
	text-transform: uppercase;
	font-weight: normal;
	@include rem('margin-top',35px);
	color: $color__text-light;
	
	a {
		&,
		&:visited,
		&:focus,
		&:active {
			color: $color__text-light;
		}
		
		&:hover,
		&:hover time {
			color: $color__text;
		}
	}
}

.entry-footer {
	@include rem('font-size',$font__tiny_size);
	@include rem('margin-top',40px);
	text-transform: uppercase;
	font-weight: bold;
	color: $color__text-light;

	a {
		&,
		&:active,
		&:visited,
		&:focus {
			color: $color__text-light;
		}
	}

	span {
		color: $color__text-light;

		a {
			&:hover {
				color: $color__text;
			}
		}
	}

	span:after {
		content: " | ";

	}
	span:last-child:after {
		display: none;
		content: "";
	}
}

// Entry content
// Page content
#master .entry-content,
#master .page-content {
	& > *:first-child {
		margin-top: 0;
	}

	& > *:last-child {
		margin-bottom: 0;
	}

	> div {
		margin-bottom: 2.5em;
	}
}

// Entry content
#master .entry-content {
	& > *:first-child {
		margin-top: 0;
	}
	& > *:last-child {
		margin-bottom: 0;
	}
}

#master {
	.more-link {
		font-weight: bold;

		&,
		&:focus,
		&:active,
		&:visited {
			color: $color__text;
		}

		i {
			margin-left: 5px;
			@include rem('font-size',$font__xlarge_size);
			vertical-align: text-bottom;
			border-bottom-width: 0;
			text-decoration: none;
		}
	}

	.excerpt2 {
		padding-bottom: 0;
		border-bottom-width: 0;
		
		.entry-cat-meta {
			@include rem('margin-bottom', 8px);
		}

		.entry-title {
			@include rem('margin-bottom', 15px);
		}

		.entry-meta {
			@include rem('margin-top', 15px);
		}

		*:last-child {
			margin-bottom: 0;
		}
	}
}

#master .all-posts {
	overflow: hidden;
	@include rem('margin-right', -20px);

	.excerpt2 {
		width: 50%;
		float: left;
		@include rem('padding-right', 20px);

		&:nth-child(2n+1) {
			clear: both;
		}

		.entry-title {
			@include rem('font-size', 22px);
		}
		
		.entry-image {
			margin-bottom: 1em;
		}
	}
}

// Entry image
.entry-image {
	text-align: center;
	margin-bottom: 2.5em;

	img {
		vertical-align: top;
	}
}

// Accordion page template
.page-template-accordion {
	.accordion-section {
		h2 {
			text-align: center;
			@include rem('margin-bottom',60px);
		}

		h3 {
			margin: 0;
			@include rem('margin-top',40px);
			cursor: pointer;
			@include rem('padding-left',30px);
			position: relative;
			font-weight: normal;

			&:before {
				vertical-align: top;
				text-align: center;
				-webkit-transition: -webkit-transform .2s;
				-moz-transition: -moz-transform .2s;
				-ms-transition: -ms-transform .2s;
				-o-transition: -o-transform .2s;
				transition: transform .2s;
				display: inline-block;
				font-family: "Genericons";
				font-style: normal;
				font-weight: normal;
				font-variant: normal;
				text-decoration: inherit;
				text-transform: none;
				-moz-osx-font-smoothing: grayscale;
				-webkit-font-smoothing: antialiased;
				speak: none;
				content: "\f431";
				-webkit-transform: rotate(-90deg);
				-moz-transform: rotate(-90deg);
				-ms-transform: rotate(-90deg);
				-o-transform: rotate(-90deg);
				transform: rotate(-90deg);
				filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
				position: absolute;
				left: 0;
				top: 0;
			}

			&.accordion-item-open {
				&:before {
					-webkit-transform: rotate(0deg);
					-moz-transform: rotate(0deg);
					-ms-transform: rotate(0deg);
					-o-transform: rotate(0deg);
					transform: rotate(0deg);
					filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0);
				}
			}

		}

		.accordion-content {
			height: 0;
			overflow: hidden;
		}

		.accordion-content-inner {
			@include rem('padding-top',40px);
			@include rem('padding-left',30px);
		}
	}
}
